
.navbar{
    background-color: rgba(232, 226, 242, 1);
  }
  
  .navbar-toggler {
  border: none;
  font-size: 1.25rem;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
  box-shadow: none;
  outline: none;
  }
  
  .nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  margin-right: 30px;
  }
  
  .nav-link:hover,
  .nav-link.active {
  color:rgb(68, 0, 255)
  }
  
  .btn-group{
    margin-right: 60px;
  }
  
  
  
  
  @media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(68, 0, 255);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 60%;
    visibility: visible;
  }
  }
  .icon-button{
  margin-top: 9px;
    }  
    
    #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  
  #footer .credits a {
    color: #34b7a7;
  }
  


.question {
    background-color: #eae6fa;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
}

.pagination-card{
    height: 350px;
    width: 300px;
    background-color: #0037ff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
}

.answer-option {
    background-color: #ffffff;
    border: 2px solid #eae6fa;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}



.question.active {
  display: block;
}

.btn-light {
  margin: 5px;
}

.btn-answered {
  background-color: #007bff !important;
  color: white !important;
}